<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.springbootinit.mapper.FileMapper">
    <resultMap id="BaseResultMap" type="com.coder.springbootinit.model.entity.MyFile">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="fileName" column="fileName" jdbcType="VARCHAR"/>
        <result property="originFileName" column="originFileName" jdbcType="VARCHAR"/>
        <result property="orgId" column="orgId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="stageId" column="stageId" jdbcType="BIGINT"/>
        <result property="fileUrl" column="fileUrl" jdbcType="VARCHAR"/>
        <result property="fileSize" column="fileSize" jdbcType="INTEGER"/>
        <result property="isTemplate" column="isTemplate" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , fileName, originFileName, orgId, userId, stageId, fileUrl, fileSize, isTemplate, 
        createTime, updateTime, isDelete
    </sql>
</mapper>
