<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.springbootinit.mapper.OrgOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.coder.springbootinit.model.entity.OrgOrganization">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="orgName" column="orgName" jdbcType="VARCHAR"/>
        <result property="orgCode" column="orgCode" jdbcType="VARCHAR"/>
        <result property="parentId" column="parentId" jdbcType="BIGINT"/>
        <result property="orgType" column="orgType" jdbcType="VARCHAR"/>
        <result property="orgLevel" column="orgLevel" jdbcType="INTEGER"/>
        <result property="leaderId" column="leaderId" jdbcType="BIGINT"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , orgName, orgCode, parentId, orgType, orgLevel, leaderId, address, description, 
        createTime, updateTime, isDelete
    </sql>
</mapper>