<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.springbootinit.mapper.OrgRelationTransferMapper">
    <resultMap id="BaseResultMap" type="com.coder.springbootinit.model.entity.OrgRelationTransfer">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="fromOrgId" column="fromOrgId" jdbcType="BIGINT"/>
        <result property="fromOrgName" column="fromOrgName" jdbcType="VARCHAR"/>
        <result property="toOrgId" column="toOrgId" jdbcType="BIGINT"/>
        <result property="toOrgName" column="toOrgName" jdbcType="VARCHAR"/>
        <result property="transferReason" column="transferReason" jdbcType="VARCHAR"/>
        <result property="transferTime" column="transferTime" jdbcType="TIMESTAMP"/>
        <result property="approveStatus" column="approveStatus" jdbcType="INTEGER"/>
        <result property="approveUserId" column="approveUserId" jdbcType="BIGINT"/>
        <result property="approveUserName" column="approveUserName" jdbcType="VARCHAR"/>
        <result property="approveTime" column="approveTime" jdbcType="TIMESTAMP"/>
        <result property="approveComment" column="approveComment" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , userId, fromOrgId, fromOrgName, toOrgId, toOrgName, transferReason, transferTime, 
        approveStatus, approveUserId, approveUserName, approveTime, approveComment, createTime, updateTime, isDelete
    </sql>
</mapper>