<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.springbootinit.mapper.TrainerRelationMapper">
    <resultMap id="BaseResultMap" type="com.coder.springbootinit.model.entity.TrainerRelation">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="trainerId" column="trainerId" jdbcType="BIGINT"/>
        <result property="trainerName" column="trainerName" jdbcType="VARCHAR"/>
        <result property="startDate" column="startDate" jdbcType="DATE"/>
        <result property="endDate" column="endDate" jdbcType="DATE"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , userId, userName, trainerId, trainerName, startDate, endDate, status, 
        createTime, updateTime, isDelete
    </sql>

    <!-- 根据组织ID查询培养关系列表 -->
    <select id="getTrainerRelationsByOrgId" resultMap="BaseResultMap">
        SELECT tr.*
        FROM trainer_relation tr
        INNER JOIN user u ON tr.userId = u.id
        WHERE u.orgId = #{orgId} AND tr.isDelete = 0 AND u.isDelete = 0
    </select>
</mapper>